<.header>
  New Investment
  <:subtitle>Use this form to manage investment records in your database.</:subtitle>
</.header>

<.investment_form changeset={@changeset} action={~p"/investments"} />

<.back navigate={~p"/investments"}>Back to investments</.back>
